<section>
  <h1>Party Management</h1>
  <app-adventurer-row *ngFor="let adventurer of adventurers$ | async"
    [classDict]="classDict$ | async"
    [adventurer]="adventurer"
    (levelUp)="levelUp(adventurer)"
    (deleteAdventurer)="deleteAdventurer(adventurer)">
  </app-adventurer-row>
</section>

<section>
  <h1>Add a Party Member</h1>
  <app-adventurer-form
    [adventurerClasses]="adventurerClasses$ | async"
    (shouldSubmit)="createAdventurer($event)">
  </app-adventurer-form>
</section>
